# Ignora o ambiente virtual
env/
  
# Arquivos de cache do Python
__pycache__/
*.py[cod]

# Ignora arquivos do Jupyter Notebook
*.ipynb_checkpoints

# Arquivos de configuração do sistema operacional
.DS_Store
Thumbs.db

# Outras configurações e arquivos desnecessários
*.log

# Graficos
scatter_plot.png

# Modelo gerado
model.pkl